<router-outlet> </router-outlet>
<div class="content" role="main">
  <h1>Sinttu Lehti - code samples for Ambientia</h1>
  <ul>
    <li><a routerLink="/bank-ocr" routerLinkActive="active">Kata Bank OCR</a></li>
  </ul>
  <!-- Terminal -->
  <div class="terminal">
    <span class="row">
      // Combine existing skills with new learned at Commanders of Cloud
    </span>
    <span class="row">let oldSkills = this.getOldSkills();</span>
    <span class="row">
      let allSkills = [...oldSkills, 'AWS', 'SDK', 'S3', 'DynamoDB', 'SQS'];
    </span>
    <br />
    <span class="row">// Loop all skills in order to impress Ambientia, stop when succeeded</span>
    <span class="row">for (var skill of allSkills) {{ "{" }}</span>
    <span class="row indent-2">
      if (this.impressAmbientia(skill)) {{ "{" }}
    </span>
    <span class="row indent-4">this.startNewJobAtAmbientia();</span>
    <span class="row indent-4">break;</span>
    <span class="row indent-2">{{ "}" }} </span>
    <span class="row">{{ "}" }}</span>
  </div>
</div>
